@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");

:root {
  --primary: rgb(29, 152, 4);
  --bg: rgb(4, 4, 123); /* Not used yet, but defined here */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary);
  color: white;
  display: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 100px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: white;
  border-bottom: 1px solid #155bc4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.navbar .navbar-logo {
  font-size: 1.2rem;
  font-weight: 700;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: var(--bg);
  display: inline-block;
  font-size: 0.8rem;
  margin: 0 1rem;
  right: 0;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  width: 100%; /* Ensures full underline effect */
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1); /* Full underline on hover */
}

.navbar .navbar-extra a {
  color: var(--primary);
  margin: 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--bg);
}

#menu {
  display: none;
}

@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  90% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute; /* Correct positioning for mobile */
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30%;
    height: 100vh;
    flex-direction: column;
    transition: right 0.2s ease; /* Smooth transition for sliding in */
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 2rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: left;
  }
}
